# Acquire:

The purpose of this this notebook is to get a centralized starting point on the data we are using and underline methodolgies we will be using.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('./DATA/Train Data/train_essays.csv')

In [3]:
external_data = pd.read_csv('./DATA/External Kaggle database/daigt_external_dataset/daigt_external_dataset.csv')

In [4]:
data.head(2)

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0

## External Dataset

Dataset Description:

`id`: unique identifier for each text. <br/>
`text`: extracted text from FeedBack Prize 3 competition. Can be used as student text. <br/>
`instructions`: the instruction for ChatGPT to generate the text.<br/>
`source_text`: AI generated text. <br/>

In [5]:
data.head(2)

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0

In [6]:
external_data.head(2)

,id,text,instructions,source_text
0,6060D28C05B6,Some schools in United States ofter classes fr...,\nTask: Write a persuasive essay on whether or...,\nWhen considering the pros and cons of attend...
1,60623DB5DE7A,"Four-day work week, a remarkable idea to conse...",\nTask: Research the advantages and disadvanta...,\nOne of the primary arguments for implementin...

## Transforming our external data to match our working data's format

To accomplish this we must perform the following:

* We must add the following columns:
  - generated column to indicate it is an AI generated response.
  - Create a prompt ID for external data.

* combine the two data sets and patch the prompts with the orgininal prompt dataset.

In [7]:
external_data['generated'] = 1

In [11]:
# Create the prompt id continuing from the dataset provided.
external_data['prompt_id'] = np.arange(3,(len(external_data) + 3))

In [12]:
# Isolate the features we plan on merging on

train_data_from_external = external_data[['id','prompt_id','source_text', 'generated']].copy()

In [13]:
# rename the source_text to be text.
train_data_from_external.rename(columns= {'source_text': 'text'}, inplace=True)

In [14]:
# Remove the next line marker in the text.
train_data_from_external.text.replace('\n', '', regex= True, inplace=True)

In [25]:
combined_datasets = pd.concat([data, train_data_from_external]).sample(frac=1)

In [41]:
combined_datasets

,id,prompt_id,text,generated
1472,C8620D9D22DC,1475,Having students of different ages in the same ...,1
1776,D8D84A2E4CE0,1779,After researching examples of successful group...,1
1886,DD279F25DC1F,1889,"For many students and teachers, a four-day sch...",1
73,6574B5B58A11,76,"Delve into what motivates you to take action, ...",1
744,87901eed,1,"Dear Senator, If one could sum up the definiti...",0
...,...,...,...,...
226,722C353F2831,229,Honesty is a fundamental part of any healthy r...,1
1178,da14ac70,1,"Dear Senator, As you may know, there is a huge...",0
459,5b1c86a2,1,The electoral collage should be disbanded. Not...,0
1586,CE7E3C75BAF8,1589,First impressions often form the basis for how...,1
1354,C15EC5707409,1357,The prospect of implementing a four-day school...,1

In [28]:
combined_datasets.to_csv('./DATA/MASTER DATA/master_train_data.csv')