In [1]:
import pandas as pd
import numpy as np 
pd.options.mode.chained_assignment = None

In [2]:
data = pd.read_csv('Checkpoint/text_pos_tagged.csv',index_col=0)

In [3]:
import ast


for i,text in enumerate(data.text):
    data['text'][i] = ast.literal_eval(data.text[i])

# Here we are converting the columns from strings to a list to work with the inside tuples.

In [4]:
from operator import itemgetter

# Here we are pulling just the POS tag from the tuple
text_post = dict()
for i,text in enumerate(data.text):
    text_post[int(i)] = list(map(itemgetter(1), data.text[i]))

In [5]:
# Ensure the math... maths
len(text_post) == len(data)

True

In [6]:
# Getting the pos tags in their own columns

parts_of_speech_df = pd.DataFrame()
parts_of_speech_df = pd.DataFrame(pd.Series(text_post.values()))
parts_of_speech_df.columns = ['part_of_speech_tags_in_order',]
merged_data = data.merge(parts_of_speech_df, how='left',left_index=True,right_index=True )

In [7]:
# Merged data is the the pos tagged in order and our original dataset.


# Make A new dict to hold value count outputs.
vc_dict = dict()
# Make a new data frame to contain the value counts.
value_count_df = pd.DataFrame()
# Tags- the index of the value counts
for tags in np.arange(len(merged_data)):
    # Here we are assigning the data frame into our vc_dict or value count dictionary.
    vc_dict[int(tags)] = pd.DataFrame(merged_data['part_of_speech_tags_in_order'][tags]).value_counts()

In [8]:
# Math still mathing
len(vc_dict) == len(data)

True

In [9]:
# make a new dataframe to help all the value counts
value_counts_all_df = pd.DataFrame()

In [10]:
# Set the new index for the new dataframe
new_index = np.arange(0,int(len(vc_dict)))

In [11]:
# Set the index of the data frame for the merger of our data 
value_counts_all_df.index = new_index

In [12]:
value_count_index_list = list()
for keys,

SyntaxError: invalid syntax (605517727.py, line 2)

In [14]:
new_index

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3799 rows x 0 columns]

In [ ]:
merged_data_frame = pd.merge(data, how='left', on=vc_df.index, right=vc_df)
# merged_data_frame.drop(column='key_0')
merged_data_frame.head()

In [ ]:
merged_data_frame = pd.merge(data, how='left', on=vc_df.index, right=vc_df)
# merged_data_frame.drop(column='key_0')
# merged_data_frame.head()

In [ ]:
COLUMN_ORDER = [
    'text',
    'NN',
    'DT',
    'VB',
    'IN',
    'JJR',
    'CC',
    'JJ',
    'TO',
    'MD',
    'PRP$',
    'VBZ',
    'PRP',
    'VBN',
    'WP',
    'RB',
    'RP',
    'VBP',
    'generated',
    ]

In [ ]:
ordered_merged_data_frame = merged_data_frame[COLUMN_ORDER]

In [ ]:
pd.Series(ordered_merged_data_frame[['text','JJR']].text[1])

In [ ]:
ordered_merged_data_frame.fillna()

In [ ]:
ordered_merged_data_frame

In [ ]:
apos_valueCount = pos_series.value_counts().to_list()

In [ ]:
new_columns = list(map(itemgetter(0), pos_series.value_counts().index[0:].to_list()))

In [ ]:
pd.DataFrame(pos_series.value_counts())