In [1]:
import pandas as pd
import numpy as np 
pd.options.mode.chained_assignment = None

In [2]:
data = pd.read_csv('Checkpoint/text_pos_tagged.csv',index_col=0)

In [3]:
data.head()

                                                text  generated
0  [('have', 'VB'), ('student', 'NN'), ('of', 'IN...          1
1  [('after', 'IN'), ('research', 'NN'), ('exampl...          1
2  [('for', 'IN'), ('mani', 'JJ'), ('student', 'N...          1
3  [('delv', 'NN'), ('into', 'IN'), ('what', 'WP'...          1
4  [('dear', 'JJ'), ('senat', 'NN'), ('if', 'IN')...          0

In [4]:
import ast

text_list = list
for i,text in enumerate(data.text):
    data['text'][i] = ast.literal_eval(data.text[i])

# Here we are converting the columns from strings to a list to work with the inside tuples.

#

In [99]:
from operator import itemgetter
part_of_speech_list = list()
# we are trying to get the total count of pos and count list them as features for feature engineering.
    
for i, text in enumerate(data.text):
    print(text[0])
    pos_series = pd.DataFrame(list(map(itemgetter(1), text)))
    pos_valueCount = pos_series.value_counts().to_list()

    
    pos_tag_v_count = pd.DataFrame(columns = list(map(itemgetter(0), pos_series.value_counts().index[0:].to_list())))
    pos_tag_v_count.concat(pos_valueCount)
    
    break

('have', 'VB')

AttributeError: 'DataFrame' object has no attribute 'concat'

In [96]:
pos_tag_v_count

Empty DataFrame
Columns: [NN, DT, IN, VB, JJR, CC, JJ, TO, MD, PRP$, RB, PRP, VBN, VBZ, WP, RP, VBP]
Index: []

In [65]:
sandbox_data = data.copy()

In [56]:
pos_valueCount = pos_series.value_counts().to_list()

In [52]:
new_columns = list(map(itemgetter(0), pos_series.value_counts().index[0:].to_list()))

In [76]:
pd.DataFrame(pos_series.value_counts())

      count
0
NN       37
DT       18
IN       12
VB       12
JJR      11
CC        9
JJ        8
TO        5
MD        5
PRP$      3
RB        2
PRP       2
VBN       2
VBZ       2
WP        2
RP        1
VBP       1